<h1>Hero List</h1>

<hr>

<h4>Listado de Héroes</h4>

<h5 *ngIf="deletedHero; else noDeletedHero">El héroe borrado es: <small class="text-danger"> {{ deletedHero }}</small>.</h5>

<ng-template #noDeletedHero>
    <h5>No ha borrado ningún héroe.</h5>
</ng-template>

<button 
 *ngIf="heroNames.length > 0"
 (click)="removeLastHero()"
 class="btn btn-outline-danger">
    Borrar al último héroe
</button>

<ul class="mt-2 list-group">
    <li *ngFor="let name of heroNames" class="list-group-item">
        {{name}}
    </li>
</ul>
